.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .example-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .example-full-width {
      width: 100%;
    }
  }
}
