<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h2 class="m-2">Update Product = {{productId}}</h2>
    </div>
  </div>
  <div class="card-body container">
    <!-- Formulaire d'ajout -->
    <form class="example-form" [formGroup]="productFormGroup" (ngSubmit)="updateProduct()">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Name of product</mat-label>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Price" formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" placeholder="Quantity" formControlName="quantity">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-checkbox formControlName="checked">Checked</mat-checkbox>
      <button mat-raised-button color="primary">Update Product</button>
    </form>
  </div>
</div>



