/* Styles pour le formulaire */
.container {
  max-width: 600px; /* Largeur maximale du formulaire */
  margin: 0 auto; /* Centrer le formulaire horizontalement */
  padding: 20px; /* Espacement intérieur du formulaire */
}

.example-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacement entre les champs du formulaire */
}

.example-full-width {
  width: 90%; /* Largeur maximale pour les champs */
  justify-content: center;
}

/* Styles pour les boutons */
button {
  margin-top: 20px; /* Espacement supplémentaire au-dessus du bouton */
}
