/* Styles pour le formulaire */
.example-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacement entre les champs du formulaire */
}

.example-full-width {
  width: 100%; /* Largeur maximale pour les champs */
  justify-content: center;
}

/* Styles pour les boutons */
button {
  margin-top: 20px; /* Espacement supplémentaire au-dessus du bouton */
}
