<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 routerLink="/home">Asset-App</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-raised-button routerLink="/home" routerLinkActive="active"> Home <mat-icon>home</mat-icon></a>
      <a mat-raised-button routerLink="/products" routerLinkActive="active"> Products
        <mat-icon>arrow_downward</mat-icon>
        <mat-icon>arrow_upward</mat-icon></a>
      <a mat-raised-button routerLink="/new-product" routerLinkActive="active"> New-Product
        <mat-icon>add_circle_outline</mat-icon></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet>

</router-outlet>
